.container {
  display: flex;
  width: 950px;
  height: 535px;
  background-color: #f2f2f2;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
  /* border: 4px solid rgb(184, 180, 180); */
  border-radius: 12px;
}
.comments {
  margin-top: 20px;
  padding-left: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
  padding-left: 20px;
}

.comment-form-title {
  font-size: 22px;
  margin-left: 13px;
}

.comment-form-textarea {
  width: 90%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 2px solid rgb(107, 114, 12);
  border-radius: 6px;
  margin-left: 13px;
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
  margin-left: 13px;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
.comment-container {
  width: 100%;
  position: absolute;
  top: 554px;
  left: -25px;
  /* background-color: #f2f2f2;
  border: 4px solid rgb(184, 180, 180); */
  /* border-radius: 12px; */
}
