.btnBack {
  background-color: white;
  position: absolute;
  width: 151px;
  height: 39px;
  left: 27px;
  bottom: 22px;
  border-radius: 5px;
  border: 2px solid #5071be;
  color: #5071be;
  font-size: 14px;
  font-weight: 600;
}
.btnNext {
  background-color: #5071be;
  position: absolute;
  width: 151px;
  height: 39px;
  right: 27px;
  bottom: 22px;
  border-radius: 5px;
  border: 2px solid #5071be;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
