.cloudBubble {
  position: relative;
  display: inline-block;
  padding: 19px 55px;
  border-radius: 20px;
  color: white;
  background-color: #5071be;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cloudBubble::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 5%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5071be;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
