.textContainer {
  position: relative;
  width: 400px;
  height: 160px;
  margin-left: 156px;
  margin-top: 25px;
}

.textContent {
  width: 620px;
  height: calc(100% - 75px);
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 25px,
    /* 调整行宽为25px */ black 25px,
    black 26px
  );
  background-size: 100% 30px;
}
