.container {
  border: 1px solid rgb(199, 191, 191);
  background-color: #fafbfb;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(234, 246, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header {
  padding: 1px;
}
.title {
  letter-spacing: 1.2px;
  font-size: 15px;
  padding: 1px;
  text-align: center;
  font-weight: 830;
  text-transform: uppercase;
  margin-top: 2px;
}

.largeLetters {
  font-size: 20.5px;
}
.line {
  border: 3px solid;
  border-radius: 4px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.content {
  letter-spacing: 0.2px;
  margin-left: 14px;
  line-height: 26px;
}
.content1 {
  font-weight: 470;
  margin-top: 3px;
  line-height: 17px;
  padding-right: 10px;
}
.content2 {
  font-weight: 470;
  margin-top: 3px;
  line-height: 17px;
}
.content3 {
  margin-top: 3px;
  line-height: 19px;
  font-size: 17px;
  font-weight: 670;
  padding-right: 10px;
  font-style: italic;
}
