.bird {
  width: 257px;
  position: absolute;
  bottom: 71px;
  left: 131px;
}
.cloudBubble {
  position: absolute;
  top: 79px;
  left: 389px;
  text-align: center;
}
.cloudBubble::before {
  top: 223px;
  left: 8%;
}
