.paragraph {
  margin-top: 40px;
  margin-left: 126px;
  font-size: 18px;
  font-weight: 450;
}
.yourClaim {
  position: absolute;
  top: 90px;
  left: 126px;
}
.supportingDetails {
  position: absolute;
  top: 90px;
  right: 126px;
}
.evidence {
  position: absolute;
  left: 293px;
  bottom: 66px;
}
