.paragraph {
  margin-top: 90px;
  margin-left: 130px;
  width: 320px;
}
.paragraph1 {
  margin-left: 130px;
  width: 651px;
}
.paragraph2 {
  margin-left: 130px;
  margin-top: 15px;
  width: 660px;
  text-align: center;
  color: blueviolet;
  font-weight: 500;
  font-size: 18px;
}
